<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
</head>
<body>
    <h1>This is profile index page</h1>
    <table>
        <tr th:each="product : ${productList}">
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productDescription}"></td>
            <td th:text="${product.productPrice}"></td>
            <td><img th:src="${product.image}" width="300px"></td>
            <td><a href="#" th:href="@{'~/profile/addToCart/' + ${product.productId}}">AddToCart</a></td>
        </tr>
    </table>
</body>
</html>
